#newGame {
    width: 15em;
    text-align: center;
}

.game {
    /*display: flex;*/
}

.hands {
    display: flex;
}

.button {
    background-color: lightseagreen;
    border: black 1px solid;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: cadetblue;
    border-color: grey;
}