#newGame {
    background-color: lightseagreen;
}

#playAgain {
    background-color: steelblue;
}

.game {
    margin-top: 3em;
    margin-bottom: 3em;
}

.hands {
    column-gap: 6rem;
}

.hands h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 3rem;
}

.button {
    color: white;
    border: black 1px solid;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    width: 15em;
    text-align: center;
}

.button:hover {
    background-color: cadetblue;
    border-color: grey;
}