#newGame {
    background-color: lightseagreen;
}

#playAgain {
    background-color: steelblue;
}

.controls {
    display: flex;
}

.hands {
    display: flex;
}

.button {
    color: white;
    border: black 1px solid;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    width: 15em;
    text-align: center;
}

.button:hover {
    background-color: cadetblue;
    border-color: grey;
}