.userForm {
    margin: 3em;
}

.hands {
    display: flex;
}

.choices {
    display: flex;
}

.hand.button {
    width: 8em;
}

.mb-2 {
    margin-bottom: 2em;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.button {
    background-color: lightseagreen;
    border: black 1px solid;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: cadetblue;
    border-color: grey;
}

.choices .hand img {
    max-height: 75px;
    pointer-events: none;
}

.error {
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

#name-label {
    margin-top: 0.5em;
    margin-right: 1rem;
    font-size: 1.2rem;

}

#name {
    font-size: 1.2rem;
    padding: 0.5rem;
    /*border-radius: 0.2em;*/
    border-top: white 0 solid;
    border-left: white 0 solid;
    border-right: white 0 solid;
}

#name:focus {
    border-top: white 0 solid;
    border-left: white 0 solid;
    border-right: white 0 solid;
}